{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'stylesH.css' %}">
</head>

<body>    
    <a href="{% url 'home' %}" class="back-btn">Back</a>
    <h1>History</h1>

    <form action="{% url 'search_view' %}" method="GET">
        <input type="text" name="search" placeholder="Search history..." autocomplete="off">
        <button type="submit">Search</button>
    </form>
    
    <table border="1">
        <thead>
            <tr>
                <th>URL</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td>{{ url.url }}</td>
                <td>{{ url.result|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="info-box">
        <span class="negative">P - phishing</span> | <span class="positive">L - legitimate</span> | <span class="negative">MD - malicious download</span> | <span class="positive">SD - safe download</span>
    </div>
    
</body>
</html>