{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Detector</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body data-store-url="{% url 'store_url' %}">
    {% csrf_token %}
    <a href="{% url 'history' %}" class="history-btn">History</a>
    <a href="{% url 'help' %}" class="help-btn">Help</a>
    
    <h1>Welcome to your phishing detector</h1>

    <div class="url-input-container">
        <input type="text" id="url" placeholder="Paste your URL here" autocomplete="off">
        <div class="checkbox-container">
            <input type="checkbox" id="englishCheckbox">
            <label for="englishCheckbox">Website in English</label>
        </div>
        <button>Check URL</button>
        <div id="rectangle-container" style="display: none;"></div>
        <div class="message-container">
            <div id="analysing-message" class="message">Analysing<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></div>
            <div id="waiting-message" class="message">The analysis process may take up to 3 minutes.</div>
            <div id="error-message" class="message"></div>
        </div>
    </div>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>
